#editor
  position: fixed
  left: 64px
  bottom: 64px
  width: calc(100vw / 2 - 64px)
  height: calc(100vh / 2 - 64px)
  z-index: 1

#mind
  position: fixed
  top: 56px
  width: 100vw
  height: calc(100vh - 56px)
